body{
    background-color: azure
}
#list-style{
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(201, 201, 201);
}

#dropdown1{
    position: absolute;
    right: 0;
    top: -65px;
}
.card-title{
    font-size: 14px !important;
    text-align: center;
    padding-top: 5px;
}
.brand-logo{
    font-size: 25px !important;
    margin-left: 10px;
    font-family: freehand;
}
#san-diego{
    color: rgb(245, 214, 214);
    font-size: 40px;
    font-family: freehand;
}
#navbar{
    background-color:rgb(40, 152, 193)
}
/* .card{
    background-color: azure;
} */
